{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}

{% block content %}
<div class="row pt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Instance node List of {{ instance_name }}</div>
            <div class="card-body">
               <table class="table table-responsive">
                   <thead>
                      <tr>
                         <th>Instance name</th>
                         <th>Display name</th>
                         <th>Status</th>
                         <th>Offline Cause Reason</th>
                         <th>Temporarily offline</th>
                         <th>OS</th>
                         <th>Action</th>
                      </tr>
                   </thead>
                   <tbody>
                    {% for detail in result['computer'] %}
                        {% if key in detail['description'] and detail['offline'] == true %}
                            <tr>
                                <td>{{ instance_name }}</td>
                                <td>{{ detail['displayName'] }}</td>
                                <td> offline </td>
                                <td>{{ detail['offlineCause'] }}</td>
                                <td>{{ detail['temporarilyOffline'] }}</td>
                                <td>{{ detail['monitorData'][key_system] }}</td>
                                <td>action</td>
                            </tr>
                        {% else %}
                            <tr>
                                No nodes are offline
                            </tr>
                        {% endif %}
                    {% endfor %}
                   </tbody>
               </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}